# Dependecias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
Thumbs.db # Windows

# Editor
.vscode/
.idea/

# Teoria personal
teoria/